# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# dotenv environment variables file
.env*


# Build output
/build
/dist

# VS Code settings
.vscode/

# macOS
.DS_Store

# Log files
*.log

# React Native
.expo/

# Storybook
.out

# Yarn 2 (Berry) or higher (if using yarn 2+)
.pnp.*
.yarn/*
*storybook.log
# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# dotenv environment variables file
.env*


# Build output
/build
/dist

# VS Code settings
.vscode/

# macOS
.DS_Store

# Log files
*.log

# React Native
.expo/

# Storybook
.out

# Yarn 2 (Berry) or higher (if using yarn 2+)
.pnp.*
